<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.source.mapper.MouldMapper">
  <resultMap id="BaseResultMap" type="cn.source.pojo.Mould">
    <id column="mId" jdbcType="INTEGER" property="mid" />
    <result column="mName" jdbcType="VARCHAR" property="mname" />
    <result column="tId" jdbcType="INTEGER" property="tid" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="praise" jdbcType="INTEGER" property="praise" />
    <result column="tread" jdbcType="INTEGER" property="tread" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="preview" jdbcType="VARCHAR" property="preview" />
    <result column="download" jdbcType="VARCHAR" property="download" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mId, mName, tId, label, praise, tread, img, logo, preview, download
  </sql>
  <select id="selectByExample" parameterType="cn.source.pojo.MouldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from mould
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mould
    where mId = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mould
    where mId = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="mId" keyProperty="mid" parameterType="cn.source.pojo.Mould" useGeneratedKeys="true">
    insert into mould (mName, tId, label, 
      praise, tread, img, 
      logo, preview, download
      )
    values (#{mname,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, 
      #{praise,jdbcType=INTEGER}, #{tread,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{preview,jdbcType=VARCHAR}, #{download,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="mId" keyProperty="mid" parameterType="cn.source.pojo.Mould" useGeneratedKeys="true">
    insert into mould
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mname != null">
        mName,
      </if>
      <if test="tid != null">
        tId,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="praise != null">
        praise,
      </if>
      <if test="tread != null">
        tread,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="preview != null">
        preview,
      </if>
      <if test="download != null">
        download,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="praise != null">
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="tread != null">
        #{tread,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="preview != null">
        #{preview,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        #{download,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.source.pojo.Mould">
    update mould
    <set>
      <if test="mname != null">
        mName = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tId = #{tid,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="praise != null">
        praise = #{praise,jdbcType=INTEGER},
      </if>
      <if test="tread != null">
        tread = #{tread,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="preview != null">
        preview = #{preview,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        download = #{download,jdbcType=VARCHAR},
      </if>
    </set>
    where mId = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.source.pojo.Mould">
    update mould
    set mName = #{mname,jdbcType=VARCHAR},
      tId = #{tid,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      praise = #{praise,jdbcType=INTEGER},
      tread = #{tread,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      preview = #{preview,jdbcType=VARCHAR},
      download = #{download,jdbcType=VARCHAR}
    where mId = #{mid,jdbcType=INTEGER}
  </update>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into mould
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].mid!=null">
        mId,
      </if>
      <if test="list[0].mname!=null">
        mName,
      </if>
      <if test="list[0].tid!=null">
        tId,
      </if>
      <if test="list[0].label!=null">
        label,
      </if>
      <if test="list[0].praise!=null">
        praise,
      </if>
      <if test="list[0].tread!=null">
        tread,
      </if>
      <if test="list[0].img!=null">
        img,
      </if>
      <if test="list[0].logo!=null">
        logo,
      </if>
      <if test="list[0].preview!=null">
        preview,
      </if>
      <if test="list[0].download!=null">
        download,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.mid!=null">
          #{item.mid,jdbcType=INTEGER},
        </if>
        <if test="item.mname!=null">
          #{item.mname,jdbcType=VARCHAR},
        </if>
        <if test="item.tid!=null">
          #{item.tid,jdbcType=INTEGER},
        </if>
        <if test="item.label!=null">
          #{item.label,jdbcType=VARCHAR},
        </if>
        <if test="item.praise!=null">
          #{item.praise,jdbcType=INTEGER},
        </if>
        <if test="item.tread!=null">
          #{item.tread,jdbcType=INTEGER},
        </if>
        <if test="item.img!=null">
          #{item.img,jdbcType=VARCHAR},
        </if>
        <if test="item.logo!=null">
          #{item.logo,jdbcType=VARCHAR},
        </if>
        <if test="item.preview!=null">
          #{item.preview,jdbcType=VARCHAR},
        </if>
        <if test="item.download!=null">
          #{item.download,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update mould
      <set>
        <if test="item.mname!=null">
          mName=#{item.mname,jdbcType=VARCHAR},
        </if>
        <if test="item.tid!=null">
          tId=#{item.tid,jdbcType=INTEGER},
        </if>
        <if test="item.label!=null">
          label=#{item.label,jdbcType=VARCHAR},
        </if>
        <if test="item.praise!=null">
          praise=#{item.praise,jdbcType=INTEGER},
        </if>
        <if test="item.tread!=null">
          tread=#{item.tread,jdbcType=INTEGER},
        </if>
        <if test="item.img!=null">
          img=#{item.img,jdbcType=VARCHAR},
        </if>
        <if test="item.logo!=null">
          logo=#{item.logo,jdbcType=VARCHAR},
        </if>
        <if test="item.preview!=null">
          preview=#{item.preview,jdbcType=VARCHAR},
        </if>
        <if test="item.download!=null">
          download=#{item.download,jdbcType=VARCHAR},
        </if>
      </set>
      where 
      mId = #{item.mid,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>