<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.source.mapper.StarMapper">
  <resultMap id="BaseResultMap" type="cn.source.pojo.Star">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="mId" jdbcType="INTEGER" property="mid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sid, uId, mId
  </sql>
  <select id="selectByExample" parameterType="cn.source.pojo.StarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from star
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from star
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from star
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="sid" keyProperty="sid" parameterType="cn.source.pojo.Star" useGeneratedKeys="true">
    insert into star (uId, mId)
    values (#{uid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="sid" keyProperty="sid" parameterType="cn.source.pojo.Star" useGeneratedKeys="true">
    insert into star
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uId,
      </if>
      <if test="mid != null">
        mId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.source.pojo.Star">
    update star
    <set>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        mId = #{mid,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.source.pojo.Star">
    update star
    set uId = #{uid,jdbcType=INTEGER},
      mId = #{mid,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>